{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}
<div class="container my-5">
    <h3 class="text-center text-uppercase"><b>Elective 4 Learnings</b></h3>
    <hr>
    <div class="row">
        <div class="col-md-6 d-table mt-3">
            <div class="d-table-cell align-middle text-center">
                <img src="{{ url_for('static', filename='img/patriciajose.JPG') }}" class="img rounded-circle"
                    width="200">
                <h3><b>Jose, Patricia M.</b></h3>
                <h5>Elective 4 - IT 4B</h5>
            </div>
        </div>
        <div class="col-md-6">
            <i class="fa-solid fa-quote-left"></i> In the realm of programming languages, Python stands as a versatile
            and powerful tool that has captivated
            the minds of developers, novices, and seasoned professionals alike. As I delved into Elective 4, a course
            dedicated to the fundamental principles of Python, I embarked on a transformative journey that expanded my
            understanding of coding and its applications.<br>
            One of the key takeaways from this elective was grasping the syntax and structure of Python. Unlike some
            languages notorious for their complex syntax, Python's readability and simplicity have become its defining
            features. The indentation-based block structure, the use of colons, and the absence of semicolons marked a
            departure from conventions I had encountered in other languages. This unique approach not only made the code
            more elegant but also underscored the language's commitment to enhancing readability and reducing the
            likelihood of errors.<br>
            Understanding the significance of variables and data types was another crucial aspect of the course.
            Python's dynamic typing system fascinated me, allowing for more flexibility and ease of use. The ability to
            effortlessly switch between data types and manipulate variables without explicit declarations showcased the
            language's user-friendly nature. Learning about the various data structures, such as lists, tuples, and
            dictionaries, empowered me to make informed decisions about the most appropriate data type for a given task.
            Furthermore, the course introduced me to the concept of control flow and decision-making in Python. Through
            conditional statements and loops, I gained the skills to direct the flow of a program based on specific
            conditions and iterate through tasks efficiently. This newfound knowledge not only improved the efficiency
            of my code but also broadened my understanding of algorithmic thinking.<br>
            Elective 4 provided me with a solid foundation in Python basics, unlocking the doors to a world of
            possibilities in programming. The language's simplicity, readability, and versatility have left an indelible
            mark on my coding journey, and I now feel equipped to explore more advanced concepts with confidence and
            enthusiasm. As I reflect on the lessons learned, I am excited to apply my newfound skills to real-world
            projects, knowing that Python's capabilities are as vast and dynamic as the code itself. <i
                class="fa-solid fa-quote-right"></i>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <i class="fa-solid fa-quote-left"></i>
            The school year has been tough, with lots of late nights and a ton of new things to learn. I found out that
            Python
            is different from the usual ways we make things work. Instead of using regular syntax, it uses "def" to
            create functions.
            At first, I thought Python was just for console applications, but I learned it can also be used in web
            development with the
            Flask framework. This shows how flexible Python is with the technology we have today, proving its
            versatility
            and importance in programming. <br>
            With Sir Adora's guidance, we got everything we needed to shape our future. We went beyond just learning
            syntax and frameworks,
            exploring the power of Python libraries and modules that are important for the future. Even when I doubted
            my coding skills,
            Sir Adora was always there to support us. His teaching style goes beyond just teaching; it makes learning
            not only informative
            but also fun. <br>
            As we moved forward in our Python learning journey, Sir Adora stressed the importance of working together
            and learning from
            each other. He made sure everyone felt included in the class, emphasizing that everyone has unique knowledge
            that can help others.
            In conclusion, Python turned out to be a complex and powerful language. Under Sir Adora's guidance, learning
            about Python was not
            just about syntax and frameworks but also about gaining a full understanding of the language and how to use
            it. The course not
            only gave me technical skills but also a broader perspective on Python and its applications.
            <i class="fa-solid fa-quote-right"></i>
        </div>
        <div class="col-md-6 d-table">
            <div class="d-table-cell align-middle text-center">
                <img src="{{ url_for('static', filename='img/royce.JPG') }}" class="img rounded-circle" width="200">
                <h3><b>Hortaleza, Royce D. </b></h3>
                <h5>Elective 4 - IT 4B</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}