<div class="p-3 text-white" style="background-color: #145858;">
    <div class="flexMain">
        <div class="flex1">

        </div>
        <div class="flex2 text-center">
            <div><strong><img src="{{ url_for('static', filename='img/walletwise.png') }}" width="40"
                        class="img rounded"></strong></div>
        </div>
        <div class="flex1">

        </div>
    </div>
</div>
<div id="menuHolder">
    <div role="navigation" class="sticky-top border-bottom border-top" id="mainNavigation">
        <div class="flexMain">
            <div class="flex2">
                <a href="/home"><button class="whiteLink siteLink">HOME</button></a>
                <a href="/management"><button class="whiteLink siteLink">MANAGEMENT</button></a>
            </div>
            <div class="flex3 text-center" id="siteBrand">
                WALLETWISE
            </div>

            <div class="flex2 text-end d-block d-md-none">
                <button class="whiteLink siteLink"><i class="fas fa-search"></i></button>
            </div>

            <div class="flex2 text-end d-none d-md-block">
                <a href="/logout"><button class="blackLink siteLink">LOGOUT</button></a>
            </div>
        </div>
    </div>
</div>
